{% comment %}
  This is the sidebar section for the Dawn theme.
{% endcomment %}
{{ 'sidebar.css' | asset_url | stylesheet_tag }}

<div id="sidebar">
  <ol class="FaqSummary">
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_miigHj"
        ><span class="FaqSummary__LinkLabel"> Custom & Bridal Jewelry</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_igzE3b"
        ><span class="FaqSummary__LinkLabel"> Recycling Your Jewelry</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_ByzWCx"
        ><span class="FaqSummary__LinkLabel"> Sizing & Fit</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_ke4nH7"
        ><span class="FaqSummary__LinkLabel"> Cancellations & Returns</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_YmDfhi"
        ><span class="FaqSummary__LinkLabel"> Ethics & Sustainability</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_rhJCMm"
        ><span class="FaqSummary__LinkLabel"> Jewelry Care</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_PVCUyt"
        ><span class="FaqSummary__LinkLabel"> Repairs & Warranties</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_nwKJeH"
        ><span class="FaqSummary__LinkLabel"> Appraisals & Insurance</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_KWY7TC"
        ><span class="FaqSummary__LinkLabel">Shipping</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_bVeyBD"
        ><span class="FaqSummary__LinkLabel">International Orders</span></a
      >
    </li>
    <li class="FaqSummary__Item">
      <a class="FaqSummary__Link" href="#shopify-section-template--23010096775451__collapsible_content_rUDThb"
        ><span class="FaqSummary__LinkLabel">Educational Resources</span></a
      >
    </li>
  </ol>
</div>
