  html {
          scroll-behavior: smooth; 
  }
.FaqSummary {
    list-style: none;
    margin: 0;
    padding: 0;
}

.FaqSummary__Item {
    margin-bottom: 12px;
}

.FaqSummary__Link {
    display: block;
  color: rgb(var(--color-foreground));
}

.FaqSummary__LinkLabel {
    position: relative;
    display: inline-block;
}

.FaqSummary__LinkLabel:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left center;
    background: currentColor;
    transition: transform .2s linear;
}
.PageLayout__Section--sticky {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: calc(var(--header-height) + 20px);
}
.collapsible-content__wrapper {
      border-top: 0.5px solid #ccc;
}
.grid__item .accordion{
      border-top: none !important;
      border-bottom: none !important;
}
.collapsible-content-wrapper-narrow {
  margin : 0 20px !important;
}
.shopify-section.section{
   scroll-margin-top: 50px;
}
  .accordion details[open]>summary .icon-caret {
    transform: rotate(0deg) !important;
  }
  .medium-up--one-eighth {
    padding: 0 0 0 80px;
  }
  .grid__item .accordion .icon-caret {
    right: 0;
    left: 0;
    margin-right: 20px;
    transform: rotate(-90deg);
   }
  .grid {
        padding: 0 0 0 0px;
      
    }

 .accordion .accordion__title {
   margin-left: 40px
 }
  .accordion summary {
    padding: 1rem 0 !important;
  }
@media screen and (min-width: 750px) {
    .grid__item.medium-up--one-eighth {
      padding-top: 80px;
      width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
      max-width: calc(25% - var(--grid-desktop-horizontal-spacing) / 2);
    }
  .grid__item.medium-up--two-thirds {
      padding-top: 80px;
      border-left: 0.5px solid #ccc;
      margin-left: 0px;
    max-width: calc(75% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media screen and (max-width: 640px) {
    .medium-up--one-eighth {
        display: none !important;
    }
  .grid__item {
        max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
  }
}
@media screen and (min-width: 641px) {
  .FaqSummary__Link {
      font-family: 'Work Sans', serif;
      font-size: 11px;
      line-height: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
  }
  .FaqSummary__LinkLabel::after {
      background: var(--gold);
      bottom: -3px;
  }
}
